.container{
    margin-left: 30%;
    /*height: 300px; */
    width: max-content;
    background: black;
    justify-content: center;
    margin-top: 5%;
    justify-content:space-evenly;
    padding: 3%;
}

.row1, .row2, .row3,.row4, .row5{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 5%;
}
input{
    width: 400px;
    height: 100px;
    background-color:black;
    color: whitesmoke;
    font-size: 40px;
    font-family: sans-serif;
    outline: none;
    border: none;
    border-bottom: 3px solid purple;
}

input::placeholder{
color: rgb(255, 255, 255);
font-size: 40px;
  font-family: sans-serif; 
}
button{
    height: 55px;
    width: 90px;
    font-size: 30px;
    font-family: sans-serif;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}
.row2 button{
    background-color: rgb(204, 134, 4)
}
.row3 button{
    background-color: rgb(141, 132, 132);
}
.row4 button{
background-color:   rgb(142, 124, 124);
}
.row5 button{
    background-color:  rgb(143, 123, 123);;
}
